@import "tailwindcss";

:root {
  --background: #F5F5DC;
  --foreground: #3a3020;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  background: #F5F5DC;
  color: var(--foreground);
  font-family: serif;
  overscroll-behavior: none;
}
